$txt1 : #d145d6;
$txt : #fafcfa;
$txt2 :#49872d;
$code-color:#f5ef82;
$exambg:#403f40;
$bg-c : #080708;
$font-stack :18px;
$weight:bold;
$radius:15px;
$p-fonts:Arial, Helvetica, sans-serif;
$paddingLeft:40px;
