$txt1 : #d145d6;
$bg-c : #080708;
$txt : #fafcfa;
$txt2 :#49872d;
$font-stack :18px;
$code-color:#f5ef82;
$weight:bold;
.exam-section{
  border:1px solid green;
}
h1{
  color:$txt1;
  text-align: center;
  border:4px solid $txt1;
  padding:40px;
  box-sizing:border-box;
  border-radius:5px;
}
p{
  color:$txt;
}
h2{
  color:$txt1;
}
code{
  color:$code-color;
  font-size:$font-stack;
}
body{
  background-color:$bg-c;
}
nav{
  ul{
    margin:0px;
    padding:0px;
  }
  li{
    display:inline-block;
    padding-left:20px;
    font-weight:$weight;
  }
  a{
    text-decoration:none;
    color: $txt1;


  }
}
