@import 'variables';
@import 'reset';
.exam-section{
  border:1px solid green;
  padding-left:40px;
  margin-left:80px;
  border-radius:5px;
  width:400px;
  background-color:$exambg;
}
h1{
  color:$txt1;
  text-align: center;
  border:4px solid $txt1;
  padding:$paddingLeft;
  box-sizing:border-box;
  border-radius:$radius;
}
p{
  color:$txt;
  font-family:$p-fonts;
}
h2, h3{
  color:$txt1;

}
h3{
  font-family:Papyrus;
}
h2{
  font-family:$font;
}
code{
  color:$code-color;
  font-size:$font-stack;
}
body{
  background-color:$bg-c;
}
nav{
  ul{
    margin:0px;
    padding-bottom:15px;
  }
  li{
    display:inline-block;
    padding-left:$paddingLeft;
    font-weight:$weight;
  }
  a{
    text-decoration:none;
    color: $txt1;
  }
}
@mixin important-text{
  color:red;
  font-size:20px;
  font-weight:bold;
  border:1px solid red;
  @include text;
}
@mixin text{
  text-align:center;
  border-radius:5px;
}
.mix{
  @include important-text;
  background-color:yellow;
}
.button-basic{
    border:none;
    font-size:16px;
    padding: 15px 30px;
    text-align:center;
    cursor:pointer;
    font-weight:bold;
    border-radius:5px;
}
.button-report{
  @extend .button-basic;
  background-color:red;
}
.button-submit{
  @extend .button-basic;
  background-color:green;
  color:white;
}
